.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.mt-auto {
  margin-top: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.align-self-end {
  align-self: end;
}

.justify-between {
  justify-content: space-between;
}

.p-1 {
  padding: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-5 {
  margin-top: 1.5;
}

.pb-3 {
  padding-bottom: 0.5rem;
}

.pb-5 {
  padding-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1rem;
}

.p-5 {
  padding: 1rem;
}
