@import "./app/core/styles/_utils";
@import "./app/core/styles/_theme";
@import "./app/core/styles/_quill";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// * {
//   box-sizing: border-box;
// }

/* 
 CSS DEBUG HELPER
 - for production remove it if you find it anywhere
*/
.debug {
  * {
    border: 1px solid aqua !important;
    box-sizing: border-box;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
