.container {
  display: flex;
  height: 100%;
}

.chat-sidebar {
  width: 300px;
  min-width: 200px;
  height: 100%;
}

.chat {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.message-field {
  flex-basis: 137px;
}
